@import "bourbon";
@import "neat";
@import "base/base";

header {
  height: 60px;
  background: #333;
  color: white;
  text-align: center;
}

/* ===========================
 *  Home Page
 * =========================== */

 .create-bot {
   @include outer-container;

   margin: 50px auto;

   h2 {
     margin: 15px 0;
   }
 }

 .bot-list {
   @include outer-container;
   margin: 50px auto;

 }

 .bot-options {
   @include outer-container;
 }

 .bots {
  td {
    word-wrap: break-word;
    padding: 5px;
  }
   .toggle {
     label {
       display: inline-block;
     }
     .delete {
       margin-left: 5px;
//       padding: 5px;
       text-align: center;
       font-weight: bold;
       height: 24px;
       width: 24px;
       background: red;
       color: white;
       cursor: pointer;
       border-radius: 50%;
       display: inline-block;
     }
   }
 }